/* Base styles*/
a.btn-main {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-main {
  cursor: pointer;
  outline: none;
}
.btn-main.log-or-sign {
  border-radius: 45px;
  width: 192px;
  height: 60px;
  background: linear-gradient(180deg, #282B30 0%, #18191D 100%);
  z-index: 2;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 26px;
  text-align: center;
}
.btn-main.log-or-sign:not(:last-child) {
  margin-right: 30px;
}
.btn-main.get-vpn-btn {
  background: linear-gradient(180deg, #282B30 0%, #442FF0 0.01%, #B909D6 100%);
  border-radius: 40px;
  color: white;
  width: 310px;
  height: 60px;
}
.btn-main .get-vpn-icon {
  margin-right: 14px;
  width: 17px;
  height: 17px;
}
.log-or-sign-section {
  color: white;
}

/**
  _body section
 */
body.bg-main {
  background-color: #262626;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #FFFFFF;
}

/**
  Desktop styles
 */
@media (min-width: 921px) {
  body .main-container {
    margin-left: 170px;
    margin-right: 85px;
  }
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important t;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

/* Layout styles */
/**
  _navbar section
 */
/**
  Desktop styles
 */
@media (min-width: 921px) {
  .navbar-section {
    margin-bottom: 164px;
  }

  .navbar-main {
    display: flex;
    padding-top: 31.1px;
  }

  .navbar-logo {
    margin-right: 59.5px;
    display: flex;
  }
  .navbar-logo .navbar-logo-img {
    margin-right: 6px;
    width: 40px;
    height: 48px;
    object-fit: cover;
  }
  .navbar-logo .navbar-logo-text {
    height: 17.5px;
    width: 129px;
    align-self: center;
  }

  .navbar-items {
    display: flex;
    margin-top: 15px;
  }

  .navbar-item {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    z-index: 2;
    line-height: 19.1px;
  }
  .navbar-item:not(:last-child) {
    margin-right: 58px;
  }
  .navbar-item:last-child {
    margin-right: 435px;
  }

  .navbar-item:hover {
    color: white;
    text-decoration: none;
  }

  .navbar-gradient-bubble-img {
    position: absolute;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    left: 554px;
    top: -12px;
  }
}
/**
  _get-vpn section
 */
.get-vpn-text .text-main {
  color: white;
}
.get-vpn-text .text-absolutely-free {
  color: #a22cff;
}

/**
  Desktop styles
 */
@media (min-width: 921px) {
  .get-vpn-section {
    z-index: 2;
    margin-left: 10px;
  }

  .get-vpn-text {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 76px;
    z-index: 3;
    max-width: 630px;
  }
  .get-vpn-text .text-absolutely-free {
    margin-bottom: 37px;
  }

  .get-vpn-text-secondary {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 87px;
    z-index: 2;
    max-width: 580px;
    margin-left: 4px;
  }

  .get-vpn-btn-wrapper {
    margin-left: 16px;
    margin-bottom: 193px;
  }
}
/**
  _protect privacy section
 */
/**
  Desktop styles
 */
@media (min-width: 921px) {
  .protect-privacy-section {
    padding-bottom: 141px;
    padding-top: 90px;
    padding-left: 41px;
    z-index: 2;
  }

  div.protect-privacy-img {
    padding: 16px 13px 14px 50px;
    margin-right: 97px;
  }
  div.protect-privacy-img img {
    width: 932px;
    height: auto;
  }

  .protect-privacy-description-header {
    margin-top: 11px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 68px;
    max-width: 700px;
  }

  .protect-privacy-description {
    margin-top: 50px;
    font-size: 18px;
    line-height: 30px;
  }
}
/**
  Available systems section
*/
/**
  Desktop styles
 */

/*# sourceMappingURL=main.css.map */
