/**
  _body section
 */
body {
  z-index: 2;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color : #FFFFFF;
  max-width: 100vw;
  overflow-x: hidden;
}

/**
  Desktop styles
 */
@media(min-width:921px) {
  body {
    & .main-container {
      padding-left  : 8vw;
      padding-right : 7.85vw;
    }
  }
}

img {
  box-sizing: content-box;
}