/**
  _body section
 */
body {
  z-index: 2;
  //overflow: hidden;
  &.bg-main {
      background-color: #262626;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      color : #FFFFFF;
  }
}

/**
  Desktop styles
 */
@media(min-width:921px) {
  body {
    & .main-container {
      margin-left  : 170px;
      margin-right : 85px;
    }
  }
}