a.btn-main {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-main {
  cursor: pointer;
  outline: none;

  &.get-vpn-btn {
    background: linear-gradient(125.75deg, #FED507 -26.84%, #FE590F 121.96%);

    border-radius: 40px;
    color : white;
    width: 310px;
    height: 60px;
  }

  & .get-vpn-icon {
    margin-right: 14px;
    width: 17px;
    height: 17px;
  }

  & .get-vpn-icon:focus {

  }

}

.log-or-sign-section {
  color : white;
}

.btn-link {
  text-decoration: none;
  cursor: pointer;
}

.btn-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.log-or-sign {
  background-image: linear-gradient(139.58deg, #FFE14A -44.74%, #BF3B00 145.6%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  z-index: 2;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.3em;
  padding-top: 4px;
  text-align: center;
}

.log-or-sign:not(:last-child) {
  margin-right: 4em;
}