/**
  _get-vpn section
 */
.get-vpn-text {
  & .text-main {
    color : white;
  }
  & .text-absolutely-free {
    color : #a22cff;
  }
}

/**
  Desktop styles
 */
@media(min-width:921px) {
  .get-vpn-section {
    z-index: 2;
    margin-left: 10px;
  }

  .get-vpn-text {
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
    line-height: 1.6em;
    z-index: 3;
    max-width: 630px;

    & .text-absolutely-free {
      margin-bottom : 37px;
    }
  }

  .get-vpn-text-secondary {
    font-size: 1.1em;
    line-height: 2em;
    margin-bottom: 87px;
    z-index: 2;
    max-width: 580px;
    margin-left: 4px;
  }

  .get-vpn-btn-wrapper {
    margin-left: 16px;
    margin-bottom: 193px;
  }
}