/**
  _plans section
 */

/**
  Desktop styles
 */
@media (min-width: 921px) {
  .plans-section {
    text-align: center;
    padding-top: 181px;
    padding-bottom: 140px;
    position: relative;
  }

  .plans-description-header {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 50px;

  }

  .plans-description-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color : #B7B7B7;
    margin-bottom: 107px;
    position: relative;
    z-index: 2;
  }

  .plans-type-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .plans-type-cover {
    background: #262626;
    border-radius: 20px;
    text-align: center;
    width: 400px;
     &:not(:last-child) {
       margin-right: 50px;

     }
     & .gold-plan {
       background: linear-gradient(139.58deg, #FFE14A -44.74%, #BF3B00 145.6%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       -moz-text-fill-color: transparent;
     }

     & .basic-plan {
       color : #C4C4C4;
     }

  }

  .plans-type-cover-description {
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    margin-right: 12px;
  }

  .plans-type-cover-price {
    font-weight: 700;
    font-size: 35px;
    line-height: 24px;
  }

  .plans-type-cover-header {
    margin-top: 59px;
    margin-bottom: 45px;
  }

  .plans-type-cover-img {
    margin-bottom: 45px;
    & img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .plans-type-cover-separator {
    border-top: 1px solid rgba(106, 106, 106, 0.4);
    margin-bottom: 45px;
    margin-right: 50px;
    margin-left: 50px;
    width: 300px;
  }

  .plans-polygon-left-img {
    position: absolute;
    top  : 615.85px;
    left : 3.3vw;
    max-width: 100%;
    height: auto;
  }

  .plans-polygon-right-img {
    position: absolute;
    top: 160px;
    right : 0;
    max-width: 100%;
    height: auto;
  }

  .plans-type-cover-advantages-list {
    padding-inline-start: 52px;
    margin-bottom: 45px;
  }

  .plans-type-cover-advantages-list-item {
    text-align: left;
    font-size: 16px;
    line-height: 42px;
    color : #828282;
    &::marker {
      width: 8px;
      height: 8px;
      color: #828282;
    }

    &.active {
      color : white;
    }

    &.active::marker {
      width: 7.96px;
      height: 8px;
      color: #4CAF50;
    }
  }

  .plans-type-cover-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

}