/**
  _protect privacy section
 */

/**
  Desktop styles
 */
@media(min-width:921px) {
    .protect-privacy-section {
      margin-bottom: 141px;
      padding-top: 90px;
      padding-left: 41px;
      z-index: 2;
    }

    div.protect-privacy-img {
      padding : 16px 13px 14px 50px;
      margin-right: 97px;

      & img {
        height: auto;
        object-fit: cover;
      }
    }

    .protect-privacy-description-header {
      margin-top: 11px;
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 60px;
      max-width: 700px;
    }

    .protect-privacy-description {
      margin-top  : 26px;
      font-size   : 1em;
      line-height : 2em;
      max-width   : 573px;
      font-weight : 400;
    }

    .protect-privacy-description-separator {
        margin-top : 40px;
        border-top : 1px solid #6A6A6A;
        max-width  : 400px;
    }
}