/**
  _protect privacy section
 */

/**
  Desktop styles
 */
@media(min-width:921px) {
    .protect-privacy-description-wrapper {
      margin-right: 8vw;
    }

    .protect-privacy-section {
      padding-bottom: 141px;
      padding-top: 140px;
      padding-left: 7.2vw;
      z-index: 2;
    }

    div.protect-privacy-img {
      padding: 10px 4vw 2px 5.5vw;
      & img {
        height: auto;
        object-fit: cover;
      }
    }

    .protect-privacy-description-header {
      margin-top: 94px;
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 60px;
      max-width: 700px;
    }

    .protect-privacy-description {
      margin-top  : 50px;
      font-size   : 1em;
      line-height : 2em;
      max-width   : 573px;
      font-weight : 400;
    }
}